.page--header {
  min-height: 40vh;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(2, 2, 2, 0.44);
    width: 100%;
    height: 100%;
  }
  & > * {
    position: relative;
  }
  &.events {
    background: url("/eventBg.png");
    background-size: cover;
  }
  &.mint {
    background: url("/mintBg.png");
    background-size: cover;
  }
  &.ticket {
    background: url("/ticketBg.png");
    background-size: cover;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
      font-size: 2rem;
      color: #fafafa;
      font-weight: bold;
    }
    .breadcrumbs {
      font-size: 1.2rem;
      color: #fafafa;
    }
  }
}